setuptools
wheel
pytube3
regex
requests
tqdm
selenium
mutagen
tkthread
pillow
twitter_scraper
matplotlib
numpy
pandas
scikit-learn
scipy
seaborn
statsmodels
more-itertools
pyglet
shapely
piexif
webdriver-manager
cx-Freeze
