pandas
subshift
webarchiver
PyQt5
youtube-dl
pywin32
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.3.0/en_core_web_sm-3.3.0.tar.gz#egg=en_core_web_sm
sqlalchemy
pytz
python-dateutil
mathparse
pyyaml>=6.0
spacy>=3.3.1
